BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

DATABASE_URL=

RESEND_API_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_APP_BUNDLE_IDENTIFIER=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Credentials de démo (compte utilisateur et compte club)
NUXT_PUBLIC_DEMO_USER_EMAIL=
NUXT_PUBLIC_DEMO_USER_PASSWORD=
NUXT_PUBLIC_DEMO_CLUB_EMAIL=
NUXT_PUBLIC_DEMO_CLUB_PASSWORD=

