@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Jetbrains Mono', monospace;

  /* Palette Tango */
  --color-tango-50: #fef7ee;
  --color-tango-100: #fdeed7;
  --color-tango-200: #fad9ae;
  --color-tango-300: #f7bd7a;
  --color-tango-400: #f39744;
  --color-tango-500: #ef781e;
  --color-tango-600: #e05f16;
  --color-tango-700: #ba4714;
  --color-tango-800: #943a18;
  --color-tango-900: #773117;
  --color-tango-950: #40160a;
}

:root {
  --ui-radius: 0.25rem;
}

::selection {
    color: var(--color-tango-50);
    background-color: var(--color-tango-500);
}

.dark {
  --ui-primary: white;
  --ui-bg: #0d0d0d;

  ::selection {
    color: var(--color-tango-50);
    background-color: var(--color-tango-500);
  }
}
